<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="csrf-token" content="aQWGvcdgbY3aIas2dIZXtc6uXdydOzd4VBuyOrTi">

        <title>Tic Tac Toe</title>

        <script src="/js/app.js?id=8803da3dc0c888eaab10" defer></script>

        <link rel="dns-prefetch" href="https://fonts.gstatic.com">

        <link href="/css/app.css?id=9dd46f68473e6e4031dd" rel="stylesheet">
    </head>

    <body>
        <div id="vue-tic-tac-toe">
            <app-board></app-board>
        </div>

        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
